.header__logo {
  margin: 0;
  width: 142px;
  height: 33px;
}

@media (max-width: 930px) {
  .header__logo {
  margin-left: 27px;  }
}

@media (max-width: 430px) {
  .header__logo {
    width: 103.74px;
    height: 24.2px;
    margin: 28px 0 31.6px 27px;

  }
  
}