.form__container {
  position: relative;
  width: 430px;
  height: 330px;
  background: #fff;
  border: 0;
  border-radius: 10px;
  margin: 0 auto;
  padding-top: 37px;
  z-index: 3;
  opacity: 1;


}

@media (max-width: 580px) {
  .form__container {
    max-width: 238px;
  }
  
}