.profile__info_edit-button {
  position: absolute;
  top: 15px;
  right: 0px;
  border: 1px solid #fff;
  width: 24px;
  height: 24px;
  transition: opacity linear 0.25s;

}

@media (max-width: 700px) {
  .profile__info_edit-button {
    right: -10px;
  }
}

@media (max-width: 430px) {
  .profile__info_edit-button {
    width: 18px;
    height: 18px;
    right: 40px;
    top: 8px;
  }
}

.profile__info_edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}