.popup__big-pic-template {
  position: relative;
  display: none; 
  max-width: 100vw; 
  max-height: 100vh; 
  position: fixed;
  align-items: center; 
  justify-content: center; 
  background-color: rgba(0, 0, 0, 0.8); 
  top: 0; 
  left: 0; 
  bottom: 0; 
  right: 0; 
  z-index: 3;
}