.profile__avatar-overlay {
  position: absolute;
  background: none;
  width: 120px;
  height: 120px;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 50%;
}

.profile__avatar-overlay:hover {
  background: url(../../../images/pencil_avatar.svg);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  background-color: rgba(0, 0, 0, .8);
}


