.header {
  max-width: 880px;
  min-height: 74px;
  margin: 45px auto 40px auto;
  border-bottom: 1px solid #545454;
}

@media (max-width: 430px) {
  .header {
    margin: 0 auto 38.25px auto;
    min-height: 0;
  }
}

